.header {
  padding: 1rem 2rem;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;

  row-gap: 1rem;
}

.ctas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container {
  max-width: 600px;
  margin-inline: auto;

  width: 100%;
}

.spinnerWrapper {
  width: 100%;
  aspect-ratio: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.playerWrapper {
  margin-bottom: 0.5rem;
}

.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}
.input {
  width: 100%;
  max-width: 448px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
