@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #cc-webplayer-wrapper {
    --background: var(--cc-background, 0 0% 100%);
    --foreground: var(--cc-foreground, 240 10% 3.9%);
    --primary: var(--cc-primary, 216 100% 52%);
    --neutral: var(--cc-neutral, 0 0% 39%);

    --radius: var(--cc-radius, 0.55rem);
  }
}

@layer base {
  #cc-webplayer-wrapper {
    @apply bg-background text-foreground;
  }
}
